.headerTitile {
    width: 100%;
    background: rgb(116, 116, 199);
    padding: 15px 0 15 px;

    h3 {
        font-size: 25px;
        font-weight: 600;
        color: whitesmoke;
        padding-left: 25px;
    }

}